.dashboardContainer {
    display: flex;
    height: 100%;
}

.sidebar {
    width: 250px;
    padding: 16px;
    border-right: 1px solid #f0f0f0;
    overflow-y: auto;
}

.mainContent {
    flex: 1;
    position: relative;
}

.overlay {
    display: grid;
    grid-template-areas: "stack";
    width: var(--container_width);
    height: var(--container_height);
    position: absolute;
}
