.gridContainer {
  width: var(--container_width);
  height: var(--container_height);
  border: 1px solid #e5e7eb;
  background-color: white;
  z-index: 0;
  opacity: var(--grid_opacity);
  display: flex;
  flex-direction: column;
}

.gridRow {
  display: flex;
  height: var(--grid_size);
}

.gridCell {
  width: var(--grid_size);
  height: var(--grid_size);
  border: 1px solid #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  cursor: default;
  background-color: transparent;
  transition: background-color 0.2s ease-in-out, transform 0.1s ease-in-out, filter 0.2s ease-in-out;
  outline: none;
}

.gridCell:hover {
  border:2px solid #595a5a;
}

.gridCell:active {
  transform: scale(0.9);
}

.selectionBox {
  position: absolute;
  border: 2px dashed #178bff;
  pointer-events: none;
  z-index: 1;
}

.hoverActive {
  background-color: rgba(102, 179, 255, 0.4);
  border-color: #66b3ff;
}

.finalActive {
  background-color: rgba(102, 179, 255, 0.7);
  border-color: #0056b3;
}

.gridCell.disabled {
  background-color: transparent !important;
  border: none !important;
  color: inherit !important;
  cursor: not-allowed !important;
  pointer-events: none !important; /* 彻底禁用 hover、点击 */
}

.unavailableActive {
  background-color: rgba(255, 99, 71, 0.6) !important; /* 红色标记无效格子 */
  border-color: red !important;
}