.tool{
   top: 5px;
   bottom: 552.0px;
   left: 5px;
   right: 602.0px;
}
.test{
   top: 17px;
   bottom: 603.0px;
   left: 7px;
   right: 1053.0px;
}
.test2{
   top: 29px;
   bottom: 609.0px;
   left: 9px;
   right: 1059.0px;
}
.crypto{
   top: 5px;
   bottom: 552.0px;
   left: 502px;
   right: 502.0px;
}
.init{
   top: 5px;
   bottom: 552.0px;
   left: 602px;
   right: 402.0px;
}
.security{
   top: 5px;
   bottom: 552.0px;
   left: 702px;
   right: 302.0px;
}
.virt{
   top: 5px;
   bottom: 552.0px;
   left: 802px;
   right: 202.0px;
}
.sound{
   top: 5px;
   bottom: 552.0px;
   left: 902px;
   right: 102.0px;
}
.ipc{
   top: 5px;
   bottom: 552.0px;
   left: 1002px;
   right: 5.0px;
}
.test3{
   top: 17px;
   bottom: 557.0px;
   left: 1007px;
   right: 7.0px;
}
.test4{
   top: 29px;
   bottom: 559.0px;
   left: 1009px;
   right: 9.0px;
}
.kernel{
   top: 102px;
   bottom: 252.0px;
   left: 5px;
   right: 752.0px;
}
.Memory-Menagement{
   top: 102px;
   bottom: 102.0px;
   left: 352px;
   right: 402.0px;
}
.fs{
   top: 102px;
   bottom: 202.0px;
   left: 702px;
   right: 5.0px;
}
.drivers{
   top: 402px;
   bottom: 5.0px;
   left: 5px;
   right: 752.0px;
}
.arch{
   top: 552px;
   bottom: 5.0px;
   left: 352px;
   right: 5.0px;
}
.net{
   top: 452px;
   bottom: 102.0px;
   left: 702px;
   right: 5.0px;
}
