.container-list {
    width: var(--list_width);
    height: var(--list_height);
    margin-left: 50px;
    border: 1px solid #000000;
    overflow-y: auto
}
.container-list-title {
    margin:10px;
}
.list-item {
    width: 80%;
    padding: 10px;
    margin-left: calc((var(--list_width) - var(--list_width) * 0.95) / 2);
    margin-bottom: 3px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 1px solid #000000;
}