.lizhixu{
   top: 3px;
   bottom: 353.0px;
   left: 3px;
   right: 803.0px;
}
.kanhaibin{
   top: 14px;
   bottom: 356.0px;
   left: 6px;
   right: 806.0px;
}
.wangzhihui1{
   top: 28px;
   bottom: 612.0px;
   left: 12px;
   right: 1062.0px;
}
.wangzhihui2{
   top: 28px;
   bottom: 612.0px;
   left: 62px;
   right: 1012.0px;
}
.wangzhihui3{
   top: 28px;
   bottom: 612.0px;
   left: 112px;
   right: 962.0px;
}
.wangzhihui4{
   top: 28px;
   bottom: 612.0px;
   left: 162px;
   right: 912.0px;
}
.wangzhihui5{
   top: 62px;
   bottom: 362.0px;
   left: 12px;
   right: 1012.0px;
}
.wangzhihui4{
   top: 112px;
   bottom: 462.0px;
   left: 112px;
   right: 812.0px;
}
.wangzhihui6{
   top: 62px;
   bottom: 562.0px;
   left: 112px;
   right: 962.0px;
}
