@import url("Variable.css");

.level-1-container {
    font-size: 10;
    position: absolute;
    border: 1px solid #000000;
}

.level-2-container {
    font-size: 10;
    position: absolute;
    border: 1px solid #000000;
}

.level-3-container {
    font-size: 10;
    position: absolute;
    border: 1px solid #000000;
}

.overlay-container {
    position: relative;
    width: var(--container_width);
    height: var(--container_height);
    margin-left: 20px;
}

.grid {
    position: absolute;
    opacity: 0.5;
    top: 0;
    left: 0;
    width: var(--container_width);
    height: var(--container_height);
}

.linux{
    position: absolute;
    width: var(--container_width);
    height: var(--container_height);
    margin-left: 20px;
    border: 1px solid #000000;
}

.screen{
    display: flex; /* 使用 flex 布局 */
    flex-wrap: wrap; /* 如果需要，允许换行 */
    align-items: center; /* 垂直居中对齐 */
}

.version-operation {
    display: flex;
    justify-content: flex-start; /* 使内容靠左 */
    align-items: center; /* 垂直居中 */
    height: 100vh; /* 设置容器高度为视口高度 */
    padding-left: 20px; /* 给容器添加左侧内边距，使文字更靠近左侧 */
}

.version-operation-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

/* 高亮的样式 */
.highlight {
    background-color: #ff0; /* 设置背景色为黄色 */
    color: #000; /* 设置文字颜色为黑色 */
}
