@import url("Variable.css");

.gridContainer {
    width: var(--container_width);
    height: var(--container_height);
    margin-left:20px;
    border: 1px solid #e5e7eb;
    background-color: white;
  }
  
  .gridRow {
    display: flex;
    height: var(--grid_size);
  }
  
  .gridCell {
    width: var(--grid_size);
    height: var(--grid_size);
    border: 1px solid #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    color: #000000;
  }
  
  .gridCell:hover {
    background-color: #5fa6ec;
  }