.tool
{
top: 5px;
bottom: 551.0px;
left: 5px;
right: 601.0px;
}
.crypto
{
top: 5px;
bottom: 551.0px;
left: 501px;
right: 501.0px;
}
.init
{
top: 5px;
bottom: 551.0px;
left: 601px;
right: 401.0px;
}
.security
{
top: 5px;
bottom: 551.0px;
left: 701px;
right: 301.0px;
}
.virt
{
top: 5px;
bottom: 551.0px;
left: 801px;
right: 201.0px;
}
.sound
{
top: 5px;
bottom: 551.0px;
left: 901px;
right: 101.0px;
}
.ipc
{
top: 5px;
bottom: 551.0px;
left: 1001px;
right: 5.0px;
}
.kernel
{
top: 101px;
bottom: 251.0px;
left: 5px;
right: 751.0px;
}
.Memory-Menagement
{
top: 101px;
bottom: 101.0px;
left: 351px;
right: 401.0px;
}
.fs
{
top: 101px;
bottom: 201.0px;
left: 701px;
right: 5.0px;
}
.drivers
{
top: 401px;
bottom: 5.0px;
left: 5px;
right: 751.0px;
}
.arch
{
top: 551px;
bottom: 5.0px;
left: 351px;
right: 5.0px;
}
.net
{
top: 451px;
bottom: 101.0px;
left: 701px;
right: 5.0px;
}
.test
{
top: 17.25px;
bottom: 602.25px;
left: 7.25px;
right: 1052.25px;
}
.test3
{
top: 117.25px;
bottom: 107.25px;
left: 357.25px;
right: 407.25px;
}
.test2
{
top: 29.5px;
bottom: 609.5px;
left: 9.5px;
right: 1059.5px;
}
.test4
{
top: 153.5px;
bottom: 403.5px;
left: 359.5px;
right: 653.5px;
}
.test5
{
top: 153.5px;
bottom: 403.5px;
left: 453.5px;
right: 553.5px;
}
.test6
{
top: 253.5px;
bottom: 353.5px;
left: 359.5px;
right: 703.5px;
}
.test7
{
top: 253.5px;
bottom: 353.5px;
left: 403.5px;
right: 653.5px;
}
.test8
{
top: 253.5px;
bottom: 353.5px;
left: 453.5px;
right: 603.5px;
}
.test9
{
top: 253.5px;
bottom: 353.5px;
left: 503.5px;
right: 553.5px;
}
.test10
{
top: 253.5px;
bottom: 353.5px;
left: 553.5px;
right: 503.5px;
}
.test11
{
top: 253.5px;
bottom: 353.5px;
left: 603.5px;
right: 453.5px;
}
.test12
{
top: 253.5px;
bottom: 353.5px;
left: 653.5px;
right: 409.5px;
}
.test13
{
top: 303.5px;
bottom: 303.5px;
left: 359.5px;
right: 703.5px;
}
.test14
{
top: 303.5px;
bottom: 303.5px;
left: 403.5px;
right: 653.5px;
}
.test15
{
top: 303.5px;
bottom: 303.5px;
left: 453.5px;
right: 603.5px;
}
.test16
{
top: 303.5px;
bottom: 303.5px;
left: 503.5px;
right: 553.5px;
}
.test17
{
top: 303.5px;
bottom: 303.5px;
left: 553.5px;
right: 503.5px;
}
.test18
{
top: 303.5px;
bottom: 303.5px;
left: 603.5px;
right: 453.5px;
}
.test19
{
top: 303.5px;
bottom: 303.5px;
left: 653.5px;
right: 409.5px;
}
.test20
{
top: 353.5px;
bottom: 253.5px;
left: 359.5px;
right: 703.5px;
}
.test21
{
top: 353.5px;
bottom: 253.5px;
left: 403.5px;
right: 653.5px;
}
.test22
{
top: 353.5px;
bottom: 253.5px;
left: 453.5px;
right: 603.5px;
}
.test23
{
top: 353.5px;
bottom: 253.5px;
left: 503.5px;
right: 553.5px;
}
.test24
{
top: 353.5px;
bottom: 253.5px;
left: 553.5px;
right: 503.5px;
}
