.lizhixu1{
   min-width: 100px;
   min-height: 100px;
   margin-top: 10px;
   margin-left: 10px;
   max-width: 500px;
   max-height: 500px;
   width: auto;
   height: auto;
    display: inline-block;
    flex-wrap: wrap;
    border: 1px solid #000000;
}
.lizhixu2{
   min-width: 100px;
   min-height: 100px;
   margin-top: 10px;
   margin-left: 10px;
   max-width: 200px;
   max-height: 200px;
   width: auto;
   height: auto;
    display: inline-block;
    flex-wrap: wrap;
    border: 1px solid #000000;
}
.lizhixu3{
   min-width: 100px;
   min-height: 100px;
   margin-top: 10px;
   margin-left: 10px;
   max-width: 200px;
   max-height: 200px;
   width: auto;
   height: auto;
    display: inline-block;
    flex-wrap: wrap;
    border: 1px solid #000000;
}
.lizhixu4{
   min-width: 100px;
   min-height: 100px;
   margin-top: 10px;
   margin-left: 10px;
   max-width: 200px;
   max-height: 200px;
   width: auto;
   height: auto;
    display: inline-block;
    flex-wrap: wrap;
    border: 1px solid #000000;
}
.lizhixu5{
   min-width: 100px;
   min-height: 100px;
   margin-top: 10px;
   margin-left: 10px;
   max-width: 200px;
   max-height: 200px;
   width: auto;
   height: auto;
    display: inline-block;
    flex-wrap: wrap;
    border: 1px solid #000000;
}
.kanhaibin1{
   min-width: 100px;
   min-height: 100px;
   margin-top: 10px;
   margin-left: 10px;
   max-width: 100px;
   max-height: 100px;
   width: auto;
   height: auto;
    overflow: auto;
    display: inline-block;
    flex-wrap: wrap;
    border: 1px solid #000000;
}
