.lizhixu1{
   width: 100px;
   height: 100px;
   margin-top: 10px;
   margin-left: 10px;
   max-width: 200px;
   max-height: 200px;
display: inline-block;
flex-wrap: wrap;
border: 1px solid #000000;
}
.lizhixu2{
   width: 100px;
   height: 100px;
   margin-top: 10px;
   margin-left: 10px;
   max-width: 200px;
   max-height: 200px;
display: inline-block;
flex-wrap: wrap;
border: 1px solid #000000;
}
.lizhixu3{
   width: 100px;
   height: 100px;
   margin-top: 10px;
   margin-left: 10px;
   max-width: 200px;
   max-height: 200px;
display: inline-block;
flex-wrap: wrap;
border: 1px solid #000000;
}
.lizhixu4{
   width: 100px;
   height: 100px;
   margin-top: 10px;
   margin-left: 10px;
   max-width: 200px;
   max-height: 200px;
display: inline-block;
flex-wrap: wrap;
border: 1px solid #000000;
}
.lizhixu5{
   width: 100px;
   height: 100px;
   margin-top: 10px;
   margin-left: 10px;
   max-width: 200px;
   max-height: 200px;
display: inline-block;
flex-wrap: wrap;
border: 1px solid #000000;
}
